// Primary Colors
$primary: #0E4749;
$green: #3F8A4E;
$beige: #FFFCEA;
$orange: #E55812;
$lightorange: #fbe6db;

// Fonts
$mainfont: 'Work Sans', sans-serif;
$secfont: 'Work Sans', sans-serif;

// Structure
$gutter: 50px;
$sectionpadding: 120px;
$headerheight: 90px;

// Breakpoints
$largedevice: 980px;
$mediumdevice: 768px;
$smalldevice: 480px;