.footer {
  background: #5bcb70;
  padding: 30px 30px 0px;
  height: 80vh;
  font-family: 'Montserrat', sans-serif;
  color: white;
  word-break: break-word;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;  
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-email {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.footer-email span {
  font-weight: 800;
  color: black;
  padding-bottom: 20px;
  font-size: 2.5em;
}

.footer-email a {
  font-weight: 800;
  opacity: .6;
  font-size: 1.5em;
  text-decoration: underline;
}

.footer-email a:hover {
  opacity: 1;
  transition: all .4s ease;
}

.footer-social {
  padding-top: 20px;
  width: 70%;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: black;
  opacity: .4;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
}

@media screen and (max-width: 482px) {
  .footer-bottom {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-bottom span:last-of-type {
    padding-bottom: 5px;
  }
  .footer-email span {
    font-size: 2.25em;
  }
  .footer-email a {
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-bottom: 92px;
  }
  .footer-email {
    padding: 30px 0px;
  }
}