.footer {
  /* background: #5bcb70; */
  background: url(../../content/img/footer-bg.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 30px 30px 0px; */
  height: 80vh;
  /* min-height: 80vh; */
  font-family: 'Montserrat', sans-serif;
  color: white;
  word-break: break-word;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../content/img/footer-bg.jpg);
  background-position: left;
  background-size: inherit;
  background-repeat: no-repeat;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;  
  min-height: 80vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-email {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.footer-email span {
  font-weight: 800;
  color: white;
  padding-bottom: 20px;
  font-size: 2.5em;
  line-height: 1.1;
}

.footer-email a {
  font-weight: 800;
  color: #7fff8a;
  font-size: 1.5em;
  text-decoration: underline;
}

.footer-email a::before {
  display: none;
}

.footer-email a:hover {
  opacity: 1;
  transition: all .4s ease;
}

.footer-email em {
  color: #7fff8a;
}

.footer-social {
  padding-top: 20px;
  width: 70%;
  max-width: 550px;
  display: flex;
  justify-content: space-around;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: white;
  opacity: .7;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding: 30px 0px 42px;
}

@media screen and (max-width: 482px) {
  .footer {
    background-position: center;
  }
  .footer::before {
    background-position: center;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer-bottom span:last-of-type {
    padding-bottom: 5px;
  }
  .footer-email span {
    font-size: 2.25em;
  }
  .footer-email a {
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  /* .footer {
    padding-bottom: 92px;
  } */
  .footer-email {
    padding: 30px 0px;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .footer-wrapper {
    height: 100%;
  }
}